<h1>New subtraction</h1>

<form action="/wizard_subtract">
<div>
  <label for="sub_first">Subtract this:</label>
  <input id="sub_first" name="first_num">

  <label for="sub_second">from this:</label>
  <input id="sub_second" name="second_num"></label>

  <button>Subtract!</button>
</div>
